.wrapper {
	height: calc(100vh - 56px);
	overflow-y: auto;
}

.list-folder-item {
	font-size: 0.8rem !important;
}

.img-prev {
	width: 100px;
	height: 100px;
	max-width: 100%;
	cursor: pointer;
}

.img-prev:hover {
	opacity: 0.5;
}
